# General
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Android Studio
*.iml
.gradle
/local.properties
/build
/build-cache
/captures
.externalNativeBuild
.cxx
local.properties
