# Fastlane generated and temporary files are ignored per suggested best practices:
# https://github.com/fastlane/docs/blob/master/docs/best-practices/source-control.md
fastlane/report.xml
fastlane/README.md

# General
.DS_Store
Thumbs.db

# Kotlin
.kotlin/

# Gradle build cache
/build-cache/

# IDEs and editors
.gradle
.idea/
*.iml
/build
/captures
/local.properties
local.properties
user.properties

# Secrets
/keystores/*.jks
/app/src/standardDebug/google-services.json
/app/src/standardRelease/google-services.json
