<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="MAUI Nightly builds" value="https://pkgs.dev.azure.com/xamarin/public/_packaging/maui-nightly/nuget/v3/index.json" />
        <add key="Local AndroidX Credentials" value="lib/android/Xamarin.AndroidX.Credentials" />
    </packageSources>
</configuration>