<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid60" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="monoandroid60" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="monoandroid60" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="monoandroid60" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="monoandroid60" />
  <package id="Validation" version="2.2.8" targetFramework="monoandroid60" />
</packages>