<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.25.0" targetFramework="net461" />
  <package id="Google.Apis.AndroidPublisher.v2" version="1.25.0.783" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.25.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.25.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net461" />
</packages>