<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="monoandroid60" />
  <package id="Acr.UserDialogs" version="6.3.10" targetFramework="monoandroid71" />
  <package id="AndHUD" version="1.2.0" targetFramework="monoandroid60" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="monoandroid60" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="monoandroid60" />
  <package id="HockeySDK.Xamarin" version="4.1.5" targetFramework="monoandroid71" />
  <package id="Microsoft.NETCore.Platforms" version="1.0.1" targetFramework="monoandroid71" />
  <package id="Microsoft.Win32.Primitives" version="4.0.1" targetFramework="monoandroid71" />
  <package id="NETStandard.Library" version="1.6.0" targetFramework="monoandroid71" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid60" />
  <package id="PInvoke.BCrypt" version="0.5.97" targetFramework="monoandroid71" />
  <package id="PInvoke.Kernel32" version="0.5.97" targetFramework="monoandroid71" />
  <package id="PInvoke.NCrypt" version="0.5.97" targetFramework="monoandroid71" />
  <package id="PInvoke.Windows.Core" version="0.5.97" targetFramework="monoandroid71" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Plugin.Fingerprint" version="1.4.6-beta4" targetFramework="monoandroid80" />
  <package id="SimpleInjector" version="4.0.8" targetFramework="monoandroid71" />
  <package id="Splat" version="1.6.2" targetFramework="monoandroid60" />
  <package id="sqlite-net-pcl" version="1.5.166-beta" targetFramework="monoandroid71" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.8" targetFramework="monoandroid71" />
  <package id="SQLitePCLRaw.core" version="1.1.8" targetFramework="monoandroid71" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.8" targetFramework="monoandroid71" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.8" targetFramework="monoandroid71" />
  <package id="System.AppContext" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Collections" version="4.0.11" targetFramework="monoandroid71" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="monoandroid71" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.Console" version="4.0.0" targetFramework="monoandroid71" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="monoandroid71" />
  <package id="System.Diagnostics.Tools" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.Diagnostics.Tracing" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Globalization" version="4.0.11" targetFramework="monoandroid71" />
  <package id="System.Globalization.Calendars" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.IO" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.IO.Compression" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.IO.Compression.ZipFile" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.Linq" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Net.Primitives" version="4.0.11" targetFramework="monoandroid71" />
  <package id="System.Net.Sockets" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="monoandroid71" />
  <package id="System.Reflection" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.Reflection.Primitives" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.Runtime" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Handles" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Numerics" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.Security.Cryptography.Algorithms" version="4.2.0" targetFramework="monoandroid71" />
  <package id="System.Security.Cryptography.Encoding" version="4.0.0" targetFramework="monoandroid71" />
  <package id="System.Security.Cryptography.Primitives" version="4.0.0" targetFramework="monoandroid71" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="monoandroid71" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="monoandroid71" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Threading" version="4.0.11" targetFramework="monoandroid71" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="monoandroid71" />
  <package id="System.Threading.Timer" version="4.0.1" targetFramework="monoandroid71" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="monoandroid71" />
  <package id="System.Xml.XDocument" version="4.0.11" targetFramework="monoandroid71" />
  <package id="Validation" version="2.3.7" targetFramework="monoandroid60" />
  <package id="Xam.Plugin.Connectivity" version="3.0.2" targetFramework="monoandroid71" />
  <package id="Xam.Plugins.Settings" version="3.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.FFImageLoading" version="2.2.9" targetFramework="monoandroid71" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.9" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.3.4.267" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Analytics" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Measurement" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="monoandroid60" />
  <package id="XLabs.IoC.SimpleInjector" version="2.0.5782" targetFramework="monoandroid71" />
  <package id="ZXing.Net.Mobile" version="2.1.47" targetFramework="monoandroid71" />
  <package id="ZXing.Net.Mobile.Forms" version="2.1.47" targetFramework="monoandroid71" />
</packages>