<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="monoandroid60" />
  <package id="Acr.UserDialogs" version="6.0.1" targetFramework="monoandroid60" />
  <package id="AndHUD" version="1.2.0" targetFramework="monoandroid60" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="monoandroid60" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="monoandroid60" />
  <package id="HockeySDK.Xamarin" version="4.1.0-beta3" targetFramework="monoandroid60" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="monoandroid50" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid60" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="monoandroid60" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="monoandroid60" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="monoandroid60" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="monoandroid60" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Plugin.Fingerprint" version="1.2.0" targetFramework="monoandroid60" />
  <package id="Splat" version="1.6.2" targetFramework="monoandroid60" />
  <package id="sqlite-net-pcl" version="1.1.2" targetFramework="monoandroid60" />
  <package id="SQLitePCL.bundle_green" version="0.9.3" targetFramework="monoandroid60" />
  <package id="SQLitePCL.plugin.sqlite3.android" version="0.9.3" targetFramework="monoandroid60" />
  <package id="SQLitePCL.raw" version="0.9.3" targetFramework="monoandroid60" />
  <package id="Unity" version="3.5.1405-prerelease" targetFramework="monoandroid60" />
  <package id="Validation" version="2.2.8" targetFramework="monoandroid60" />
  <package id="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="monoandroid60" />
  <package id="Xam.Plugin.DeviceInfo" version="2.0.2" targetFramework="monoandroid60" />
  <package id="Xam.Plugin.PushNotification" version="1.2.2" targetFramework="monoandroid60" developmentDependency="true" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms" version="2.3.0.107" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Analytics" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Measurement" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="monoandroid60" />
  <package id="XLabs.IoC.Unity" version="2.0.5782" targetFramework="monoandroid60" />
</packages>