<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HockeySDK.Xamarin" version="4.1.0-beta3" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.1.2" targetFramework="xamarinios10" />
  <package id="SQLitePCL.bundle_green" version="0.9.2" targetFramework="xamarinios10" />
  <package id="SQLitePCL.raw" version="0.9.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="xamarinios10" />
</packages>