<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HockeySDK.Xamarin" version="4.1.5" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.5.166-beta" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.8" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.8" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.8" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="3.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.4.7" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.Analytics" version="3.17.0.1" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="xamarinios10" />
</packages>